@model List<Friendshipets.Models.ViewModels.cListaDetalleCarrito>
@{
    ViewBag.Title = "IndexDetalleCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</div>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Carrito")">Carritos</a></li>
    <li class="breadcrumb-item active">Detalle Carrito</li>
</ol>

<div class="card shadow-lg">
    <div class="card-header">
        <i class="fas fa-shopping-cart me-1"></i> Detalles del Carrito
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" onclick="document.location.href = '@Url.Content("~/Carrito/Index")'">Volver</button>
                <button class="btn btn-primary" onclick="document.location.href = '@Url.Action("CreateDetalleCarrito", "Carrito", new { idCarrito = ViewBag.IDCarrito })'">Agregar Producto</button>
                @if (Model != null && Model.Count > 0) 
                { 
                    <button class="btn btn-warning" onclick="document.location.href = '@Url.Action("CrearFacturaConDetalles", "Carrito", new { idCarrito = ViewBag.IDCarrito })'">Generar Factura</button>
                }
                <hr />
                <table id="tabla" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th><div>ID DetalleCarrito</div></th>
                            <th><div>ID Carrito</div></th>
                            <th><div>ID Producto</div></th>
                            <th><div>Nombre Producto</div></th>
                            <th><div>Cantidad</div></th>
                            <th><div>Precio Unitario</div></th>
                            <th><div>Total</div></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fila in Model)
                        {
                            <tr>
                                <td>@fila.IDDetalleCarrito</td>
                                <td>@fila.IDCarrito</td>
                                <td>@fila.IDProducto</td>
                                <td>@fila.NombreProducto</td>
                                <td>@fila.Cantidad</td>
                                <td>@fila.Precio</td>
                                <td>@fila.Total</td>                                
                                <td><input type="button" value="Eliminar" class="btn btn-danger" onclick="window.location.href='@Url.Action("EliminarProductoCarrito", "Carrito", new { idProducto = fila.IDProducto, idCarrito = fila.IDCarrito })'" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            $('#tabla').DataTable({
                responsive: true,
                columnDefs: [//Esto es para que la tabla no orderne los registros por la columna en la que están los botones
                    {
                        "targets": [5, 6, 7],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
                },
            });
        });
    </script>
}