@model Friendshipets.Models.ViewModels.cListaProveedores
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <ol class="breadcrumb mb-4 mt-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Proveedores")">Proveedores</a></li>
        <li class="breadcrumb-item active">Detalles</li>
    </ol>

    <div class="card shadow-lg rounded">
        <div class="card-header">
            <i class="fas fa-info-circle me-1"></i> Detalles del Proveedor
        </div>
        <div class="card-body">
            <div class="row mb-3 pb-2 border-bottom">
                <div class="col-md-4 fw-bold ">
                    @Html.LabelFor(u => u.IDProveedor):
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(u => u.IDProveedor)
                </div>
            </div>
            <div class="row mb-3 pb-2 border-bottom">
                <div class="col-md-4 fw-bold ">
                    @Html.LabelFor(u => u.NombreProveedor):
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(u => u.NombreProveedor)
                </div>
            </div>
            <div class="row mb-3 pb-2 border-bottom">
                <div class="col-md-4 fw-bold ">
                    @Html.LabelFor(u => u.Telefono):
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(u => u.Telefono)
                </div>
            </div>
            <div class="row mb-3 pb-2 border-bottom">
                <div class="col-md-4 fw-bold ">
                    @Html.LabelFor(u => u.Email):
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(u => u.Email)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold ">
                    @Html.LabelFor(u => u.Direccion):
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(u => u.Direccion)
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Edit", new { id = Model.IDProveedor })" class="btn btn-primary">
                Editar
            </a>
            <a href="@Url.Action("Index")" class="btn btn-secondary">
                Volver a la Lista
            </a>
        </div>
    </div>
</div>
