@model List<Friendshipets.Models.ViewModels.cListaUsuarios>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Administración</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card shadow-lg">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" onclick="document.location.href = '@Url.Content("~/Usuarios/Create")'">Crear Nuevo</button>
                <hr />
                <table id="tabla" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th><div>ID Cliente</div></th>
                            <th><div>ID Usuario</div></th>
                            <th><div>Nombre Usuario</div></th>
                            <th><div>Correo electronico</div></th>
                            <th><div>ROL</div></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fila in Model)
                        {
                            <tr>
                                <td>@fila.IDCliente</td>
                                <td>@fila.IDUsuario</td>
                                <td>@fila.NombreUsuario</td>
                                <td>@fila.CorreoUsuario</td>
                                <td>@fila.RolUsuario</td>
                                <td><input type="button" value="Consultar" class="btn btn-success" onclick="window.location.href='@Url.Content("~/Usuarios/Details/" + fila.IDUsuario)'" /></td>
                                <td><input type="button" value="Editar" class="btn btn-primary" onclick="window.location.href='@Url.Content("~/Usuarios/Edit/" + fila.IDUsuario)'" /></td>
                                <td><input type="button" value="Eliminar" class="btn btn-danger" onclick="window.location.href='@Url.Content("~/Usuarios/Delete/" + fila.IDUsuario)'" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            $('#tabla').DataTable({
                responsive: true,
                columnDefs: [//Esto es para que la tabla no orderne los registros por la columna en la que están los botones
                    {
                        "targets": [5, 6, 7],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
                },
            });
        });
    </script>
}
